$latoFont: "Lato", sans-serif;
$robotoFont: "Roboto Slab", serif;
$mathFont: serif;

$fontSize: 16px;

$green: #037e51;
$grey: #626161;
$lightGrey: #747373;
$white: #fff;
$black: #000;
$websiteBackground: #fcfcfc;
$greyBackground: #f6f5ff;

$laptopWidth: 1440px;
$smallLaptopWidth: 1024px;
$tabletWidth: 768px;
$smallTabletWidth: 540px;
$largePhoneWidth: 425px;
$mediumPhoneWidth: 375px;
$smallPhoneWidth: 320px;

@mixin desktopWebstieMargin {
	margin: 0;
}

@mixin laptopWebsiteMargin {
	margin: 0;
}

@mixin smallLaptopWebsiteMargin {
	margin: 0;
}

@mixin noMargin {
	margin: 0;
}
