@import "_vars.scss";
@import "_header.scss";
@import "_section.scss";
@import "_footer.scss";

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: $robotoFont;
    background-color: $websiteBackground;
    font-size: $fontSize;
    width: 100%;
}

.arrow-image {
    width: 70px;
    height: 70px;
    position: sticky;
    bottom: 0px;
    left: 100%;
    cursor: pointer;
}

.arrow-image.closed {
    display: none;
}